* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

#myInput {
    background-color: #ffffff;
    border-radius: 15px;
    border: 0;
    padding: 8px;
    margin: 5px;
    outline: none;
}

button {
    border: 0;
    background: rgb(65, 9, 9);
    border-radius: 15px;
    padding: 5px;
    margin: 5px;
    color: white;
}

body {
    background: #cccccc;
}

li {
    color: rgb(65, 9, 9);
}

